$colors: (
    body: (
        color: #FFF,
    ),
    heading: (
        color: #FFF,
    ),
    theme: (
        primary: #00FC70,
        secondary: #171717,
    ),
    color: (
        dark-blue: #0E104B,
        yellow-light: #FFBE17,
        white-default: #ffffff,
        gray-1: #F0F0F0,
        dark: #000E06,
    ),
    border: (
        1: #1f2b24,
    )
);
