@use '../utils' as *;

/*=============================
	00. Section Title
===============================*/
.section__title {
    position: relative;
    &.text-center {
        text-align: center;
    }
    & .title {
        font-size: 40px;
        line-height: 1.1;
        margin: 0 0;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.01em;
        @media #{$lg} {
            font-size: 34px;
        }
        @media #{$xs} {
            font-size: 30px;
        }
        & span {
            color: var(--tg-theme-primary);
        }
    }
    &-two {
        & .title {
            font-size: 24px;
        }
        & img {
            margin-top: 8px;
        }
    }
}

.section__title.mb-70,
.section__title.mb-60 {
    @media #{$md} {
        margin-bottom: 40px;
    }
}

.section-py-130 {
    padding: 130px 0;
    @media #{$md} {
        padding: 100px 0;
    }
    @media #{$xs} {
        padding: 60px 0;
    }
}
.section-pb-130 {
    padding-bottom: 130px;
    @media #{$md} {
        padding-bottom: 100px;
    }
    @media #{$xs} {
        padding-bottom: 60px;
    }
}
.section-py-60 {
    padding: 60px 0;
}
.section-pt-60 {
    padding-top: 60px;
}

